{% extends 'base/base.html' %}


{% block content %}
<div align="center">
  <div>
    <h1>Здравствуйте!</h1>
    <hr>
    <h6>Этот сайт создан для опроса пользоавтелей.</h6>
    <h6>Перед созданием опроса зарегестируйтесь ("Регистрация") или войдите уже в созданный аккаунт ("Войти").</h6>
    <h6>После этого сверху появится кнопка "Создать", там можно будет выбрать тип опроса и создать его.</h6>
    <h6>В "Голосования" будут показаны все ранее созданные опросы пользователей.</h6>
    <h5>Но помните: голосовать можно только войдя в свой аккаунт!</h5>
    <hr>
  </div>
</div>
{% endblock %}
